<!DOCTYPE html>
<html>
<head>
    <title>Agendamentos</title>
</head>
<body>

<h1>Agendamentos</h1>

<form>
    <label>Cliente:</label><br>
    <input type="text" name="cliente"><br><br>

    <label>Veículo:</label><br>
    <input type="text" name="veiculo"><br><br>

    <label>Serviço Agendado:</label><br>
    <input type="text" name="servico_agendado"><br><br>

    <label>Data:</label><br>
    <input type="date" name="data"><br><br>

    <label>Horário:</label><br>
    <input type="time" name="horario"><br><br>

    <button type="submit">Salvar</button>
</form>

<br>

<a href="/">Voltar para o início</a>

</body>
</html>