{% extends "base.html" %}

{% block titulo %}Agendamentos{% endblock %}

{% block conteudo %}
<h1 class="mb-4">Agendamentos</h1>

<form>
    <div class="mb-3">
        <label class="form-label">Cliente</label>
        <input type="text" name="cliente" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Veículo</label>
        <input type="text" name="veiculo" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Serviço Agendado</label>
        <input type="text" name="servico_agendado" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Data</label>
        <input type="date" name="data" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Horário</label>
        <input type="time" name="horario" class="form-control">
    </div>

    <button type="submit" class="btn btn-dark">Salvar</button>
</form>
{% endblock %}