<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Veículos</title>
</head>
<body>

<h1>Cadastro de Veículos</h1>

<form>
    <label>Cliente:</label><br>
    <input type="text" name="cliente"><br><br>

    <label>Modelo:</label><br>
    <input type="text" name="modelo"><br><br>

    <label>Marca:</label><br>
    <input type="text" name="marca"><br><br>

    <label>Placa:</label><br>
    <input type="text" name="placa"><br><br>

    <label>Cor:</label><br>
    <input type="text" name="cor"><br><br>

    <button type="submit">Salvar</button>
</form>

<br>

<a href="/">Voltar para o início</a>

</body>
</html>